*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---------------------------------------Header--------------------------- */
.navbar{
    width: 100%;
    height: 50px;
    /* background-color: rgba(238, 115, 58, 0.637); */
    display: flex;
    justify-content: space-between;
    align-items: center;

}




ul.ulist-1 {
    display: flex;
    
}
ul li {
    padding: 10px;
    list-style: none;
}
ul li a{
    text-decoration:none;
    color: rgb(214, 11, 11);
    

}
/* ----------------------------------------Main section------------------------------- */

.main-section{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    background-image: url('./Assets/img/explosion-colored-powder-white-background.jpg');
    background-position: center;
    background-size: cover;
}
.left-sid{
    flex-basis: 50%;
    margin: auto 40px;


}
.writ-sid{
    flex-basis: 50%;
    text-align: center;

}
.img-1{
    background-position: center;
    padding:auto;
    background-size: cover;
} 
.p-1{
    letter-spacing: 5px;
    font-size: 20px;
}
.h3-1{
    font-size: 50px;
    letter-spacing: 6px;
    
}
.btn-1{
    padding:  10px;
    color: rgb(26, 4, 4);
    background: rgb(110,200,48);
    background: linear-gradient(14deg, rgba(110,200,48,1) 24%, rgba(123,197,255,1) 30%, rgba(245,255,0,1) 69%, rgba(255,25,0,1) 81%);
    border-radius: 50px;
    

}
    /* ----------------------------------------Last section------------------------------- */
    

.last-sec{
    display:flex;
    margin: 50px 0 50px 0;
}
.p-2{
    text-align: center;
    padding-top: 30px;
}
.box{
    margin-left: 4%;
    width: 20%;
    height: 100px;
    background-color:  rgba(133, 238, 73, 0.651);
    
}
.box p{
    margin: 30px ;
    color: white;
    font-size: 30px;
    
    text-align: center;
}